
.hto-card {
    -webkit-box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
    -webkit-font-smoothing: antialiased;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
    padding: 12px;
}

.hto-h3 {
    color: rgb(97, 97, 97);
    font-size: 20px;
}

.hto-seperate-block {
	margin-bottom: 20px;
}

.hto-text-highlight {
	color: steelblue;
}
