/* Resets */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    border: 0;              /* Prevent unnecessary white space. */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /* Border boxing is used, so the padding, margin and borders are within the width and height of de element. */
    margin: 0;              /* Prevent unnecessary white space. */
    outline: 0;             /* Prevent unnecessary white space. */
    padding: 0;             /* Prevent unnecessary white space. */
    font-size: 100%;
    vertical-align: baseline;
}

html, body {
    height: 100%;       /* Full screen single page app. */
    max-height: 100%;   /* Full screen single page app. */
}

body {
    padding: 20px;
}

a {
    cursor: pointer;
}

a.spa-action-link {
    color: #428bca;
    text-decoration: none;
}

a.spa-action-link:hover, a.spa-action-link:focus {
    color: #2a6496;
    text-decoration: underline;
}

div.spa-page {
    border: 1px solid rgb(212, 212, 212);
    height: 100%;       /* Full screen single page app. */
    max-height: 100%;   /* Full screen single page app. */
    padding: 20px;
    position: relative;
}

div.spa-crud-edit {
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    bottom: 0;
    left: 0;
    position: absolute;    
    right: 0;
    top: 0;
    z-index: 10;
}

div.spa-crud-edit > div {
    background-color: rgb(255,255,255);
    height: 80%;
    margin: 100px auto 100px auto;
    padding: 20px;
    width: 80%;   
}

div.spa-crud-edit > div > div:first-child {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 10px;
}

div.spa-crud-edit > div > div:first-child > a:nth-child(2) {
    float: right;
}

div.spa-crud-edit > div > div:nth-child(2) {
    padding-top: 10px;
}