<!doctype html>
<html ng-app="researchApp">
<head>
    <meta charset="utf-8">
    <title>Dynamically change Kendo grid columns.</title>
    <link href="/Client/Libraries/Kendo/css/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="/Client/Libraries/Kendo/css/kendo.silver.min.css" rel="stylesheet" type="text/css" />
    <link href="/Client/Features/Research/Research.css" rel="stylesheet" />
    <script src="/Client/Libraries/Kendo/js/jquery.min.js"></script>
    <script src="/Client/Libraries/Angular/angular.js"></script>
    <script src="/Client/Libraries/Angular/angular-route.js"></script>
    <script src="/Client/Libraries/Angular/angular-sanitize.js"></script>
    <script src="/Client/Libraries/Kendo/js/kendo.all.min.js"></script>
    <script src="/Client/Libraries/Angular/angular-kendo.js"></script>
    <script src="/Client/Libraries/Q/q.min.js"></script>
    <script src="/Client/Libraries/Breeze/breeze.debug.js"></script>
    <script src="/Client/Libraries/Live/head.min.js"></script>
    <script src="/Client/Libraries/Live/live.js"></script>
</head>
<body ng-controller="researchCtrl">
    <textarea ng-model="messages"></textarea>
    <button ng-click="execute1($event)">Execute 1</button>
    <button ng-click="execute2($event)">Execute 2</button>
    <!-- By supplying the string "grid" to the kendo-grid directive, the kendo grid will be made available to the $scope as $scope.grid. -->
    <!-- All initial configuration of the kendo grid is provided by the $scope.gridOptions. -->
    <!-- The kendo grid will "refresh" / "rebind" itself, when the $scope.selectedType changes. -->
    <div kendo-grid="grid" k-options="gridOptions" k-rebind="selectedType"></div>
    <script src="/Client/Features/Research/ResearchApp.js"></script>
</body>
</html>