<h1>Mobile V1</h1>
<div>{{ app.user.name }}</div>
<div>
	<button class="btn" ng-click="app.signOut()">Afmelden</button>
</div>
<div>
    <button class="btn" ng-click="app.sendToDesktop('A message from the mobile application.')">Versturen</button>
</div>
<div ng-if="app.receivedDateTime">
	Last message received at: {{ app.receivedDateTime }}
</div>
<div ng-if="app.sendDateTime">
	Last message received at: {{ app.sendDateTime }}
</div>
<div ng-repeat="message in app.messages">
    {{ message }}
</div>