<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--  Make sure the following settings are correct for json download.
            <appSettings>\<maxAllowedContentLength> (in bytes)
            <system.webServer>\<security>\<requestFiltering>\<requestLimits>\<maxAllowedContentLength> (in bytes)
            <system.web>\<machineKey>\<httpRuntime>\<maxRequestLength> (in KILO-bytes)
    -->
    <add key="maxAllowedContentLength" value="104857600"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" executionTimeout="3600" maxRequestLength="102400" appRequestQueueLimit="100" requestLengthDiskThreshold="10024000" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Allow large JSON payloads. -->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <!--  Make sure the following settings are correct for json download.
                <appSettings>\<maxAllowedContentLength> (in bytes)
                <system.webServer>\<security>\<requestFiltering>\<requestLimits>\<maxAllowedContentLength> (in bytes)
                <system.web>\<machineKey>\<httpRuntime>\<maxRequestLength> (in KILO-bytes)
        -->
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".json"/>
      <remove fileExtension=".otf"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".svgz"/>
      <remove fileExtension=".ttf"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".otf" mimeType="application/otf"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".ttf" mimeType="application/ttf"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
    </staticContent>
  </system.webServer>
</configuration>